/* 노말라이즈 시작 */
body,
ul,
li,
div,
img,
p,
h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  /* font-family: "Pretendard", "Noto Sans KR", sans-serif !important; */
  font-family: "SUIT", "Noto Sans KR", sans-serif;
}

html {
  -webkit-text-size-adjust: none;
  font-size: 16PX;
}

#all-wrap {

  min-width: 320px;
}

/* "Pretendard" "SUIT" */

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.mobile {
  display: none;
}

.pc {
  display: block;
}

/* 노말라이즈 끝 */
html {
  height: 5150px;
}
/* 헤더 시작*/
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  opacity: 1;
}

.hide-header {
  transform: translateY(-100%);
  opacity: 0;
}

/* 메인베너 시작 */
.top-banner {
  width: 100%;
  height: 45px;
  background-color: rgb(190, 32, 31);
  color: #fff;
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
  display: block;
  font-weight: 400;
  position: static;
}

/* 메인베너 끝 */



.top-inner-1 {
  height: 100%;
}

.main-box {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  height: 100px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  z-index: 1000;
  padding: 0 5rem;
  width: 100%;
  transition: top 0.2s ease-in-out;
}

/* 메인 로고 시작 */
.main-logo {
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-logo>.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo>.logo-box>a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 1;
}

.main-logo>.logo-box>a>img {
  width: 160px;
  height: 45px;
}

/* 메인 로고 끝 */

/* 메인 메뉴 시작 */

.main-nav {
  display: flex;
  flex-direction: column;
}

.main-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 25px;
  height: 100%;
}

li {
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  height: 100%;
}

.main-nav>.main-ul>li>a {
  color: rgb(190, 32, 31);
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.main-nav>.main-ul>li>a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 160%;
  /* a 태그의 바로 아래 */
  height: 2px;
  width: 100%;
  background-color: #be201f;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

.main-nav>.main-ul>li>a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* 메인 메뉴 끝 */

/* 메인 마이페이지 시작 */
.main-mypage {
  display: flex;
  flex-direction: column;
}

.main-mypage>.main-mp {
  display: flex;
  height: 100%;
  gap: 25px;
}

.main-mypage>.main-mp li {
  display: flex;
  height: 100%;
  cursor: pointer;
}

.main-mypage>.main-mp li a {
  display: flex;
  height: 100%;
  align-items: center;
}

.main-mypage>.main-mp li a>img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* 메인 마이페이지 끝 */

/* 헤더 끝 */

/* 섹션 시작 */

/* 섹션 1 시작 */

.sec-1 {
  padding-bottom: 40px;
  height: 100vh;
  position: relative;
}

.sec-1>.img-box {
  /* margin-top: 10px; */
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sec-1>.img-box>img {
  position: absolute;
  max-width: unset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec-1>.txt-box {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 5rem;
  gap: 2.5rem;
  color: #fff;
  top: 17.5%;
  white-space: nowrap;
}

.sec-1>.txt-box>.tit {
  font-size: 3.125rem;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 0;
}

.sec-1>.txt-box>.desc {
  font-size: 1.25rem;
  letter-spacing: -0.04px;
  margin: 0;
}


/* 섹션 1 끝 */

/* 섹션 2 시작 */

.sec-2 {
  padding-top: 40PX;
  position: relative;
  width: 100%;
}

.sec-2__swiper {
  display: none;
}


.sec-2>.inner-con {
  width: 100%;
  padding-right: 5rem;
  padding-left: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.sec-2 .img-box {
  display: flex;
  margin-bottom: 1.25rem;
  overflow: hidden;
}

.sec-2 .img-box img {
  height: 100%;
  display: block;
}

.sec-2 .txt-box {
  color: rgb(190, 32, 31);
  display: flex;
  flex-direction: column;
}

.sec-2 .txt-box>p {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 18px;
  cursor: pointer;
}

.sec-2 .txt-box>p:hover {
  color: #e0a8a8;
  transition: 0.3s;
}

.sec-2 .price-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.sec-2 .price-wrap .price-box {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 0.5rem;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.sec-2 .price-wrap .price-box>.custom {
  color: #e0a8a8;
  text-decoration: line-through;
  font-weight: 400;
}

.sec-2 .price-wrap .discount-box {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: -0.04em;
  padding: 0.6rem 1rem;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid #be201f;
  border-radius: 100px;
  display: flex;
}

/* 섹션 2 끝 */

/* 마르퀴 시작 */
.sec-3__marquee-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 100px 0;
}

.marquee {
  position: relative;
  width: 100%;
  height: 150px;
}

.mq-group {
  position: absolute;
  display: flex;
  white-space: nowrap;
  gap: 100px;
  left: 0;
}

.item {
  font-size: 10rem;
  font-weight: 600;
  color: #be201f;
}

/* .sec-3__marquee-wrapper {
  padding-top: 150px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sec-3__marquee-wrapper>.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
}

.sec-3__marquee-wrapper>.marquee>.mq-group {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 25rem;
  padding: 0 5rem;
  flex-shrink: 0;
  animation: move-left-main 300s linear infinite;
}

.mq-group .clone {
  position: absolute;
  left: 100%;
  animation: move-left-clone 600s linear infinite;
}
.sec-3__marquee-wrapper>.marquee:hover .mq-group {
  animation-duration: 1000s !important;
}
.sec-3__marquee-wrapper> .marquee:hover .mq-group.clone {
  animation-duration: 2000s !important;
}


@keyframes move-left-main {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes move-left-clone {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.sec-3__marquee-wrapper>.marquee>.mq-group .item {
  display: flex;
  color: rgb(190, 32, 31);
  font-size: 10.5rem;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: 150px;
  cursor: pointer;
  gap: 20px;
}

.sec-3>.item span {
  white-space: nowrap;
} */

/* 마르퀴 끝 */

/* 섹션 끝 */

/* 예리 페이지 시작 */

/* 메인 섹션 3 시작 */
.main-section {
  width: 100%;
  position: relative;
}

.ms3 {
  padding: 0 5rem;
  margin: 140px 0;
}

/* inner 시작 */
.ms3-inner {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.ms3 .ms3-contbox {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.ms3 .ms3-contbox .contbox {
  display: flex;
  gap: 1.25rem;
}

.ms3 .ms3-contbox .contbox .imgbox {
  width: calc((100% - 1.25rem) / 3 * 2);
  display: flex;
  gap: 2.5rem;
}

.ms3 .ms3-contbox .contbox .imgbox .img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ms3 .ms3-contbox .contbox .imgbox .img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}

/* inner 끝 */

/* txtbox 시작 */
.ms3 .ms3-contbox .contbox .txtbox {
  width: calc((100% - 1.25rem) / 3);
  padding: 3.75rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ms3 .ms3-contbox .contbox .txtbox-2 {
  padding: 60px 40px 60px 0;
}

/* p태그 */
.ms3 .ms3-contbox .contbox .txtbox .tit {
  font-size: 3.75rem;
  font-weight: 700;
  color: #be201f;
  letter-spacing: -0.04rem;
  margin-bottom: 1rem;
  width: 100%;
}

.ms3 .ms3-contbox .contbox .txtbox .desc {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #be201f;
  letter-spacing: -0.04rem;
  width: 100%;
}

.ms3 .ms3-contbox .contbox .txtbox .morebox {
  margin-top: auto;
}

.morebox {
  position: relative;
}

.morebtn.red {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
  color: #be201f;
  letter-spacing: -0.04rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 2rem;
  border: 1px solid #be201f;
  border-radius: 100px;
  position: relative;
  margin-top: 60%;
  transition: all 0.3s;
}

.morebtn.red:hover {
  background-color: #be201f;
  color: white;
}

/* contbox right 시작 */
.ms3 .inner .ms3-contbox .contbox-right {
  flex-direction: row;
  display: flex;
}

/* 메인섹션 3 끝 */

/* 메인섹션 4 시작 */
.ms4 .ms4-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.313rem;
  margin-bottom: 9.375rem;
}

.ms4 .ms4-top .txtbox {
  flex: 1;
  font-size: 7rem;
  font-weight: 500;
  color: #be201f;
  letter-spacing: -0.04rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 1.5rem;
}

.ms4 .ms4-top .mob_view {
  display: none;
}

.ms4 .ms4-top .txtbox .txt {
  display: inline-block;
}

.ms4 .ms4-top .txtbox .badge {
  display: inline-flex;
  padding: 1.2rem 5rem;
  border: 2px solid #be201f;
  line-height: 1;
  border-radius: 100px;
  text-align: center;
}

.ms4 .ms4-top .iconbox {
  width: 16.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .ms4-contbox 시작 */
.ms4 .ms4-contbox {
  position: relative;
}

.ms4 .ms4-contbox .imgbox {
  position: relative;
}

.ms4 .ms4-contbox .imgbox .img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ms4 .ms4-contbox .imgbox .img>img {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

.ms4 .ms4-contbox .txtbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.inner {
  width: 100%;
  padding-right: 5rem;
  padding-left: 5rem;
  position: relative;
}

.ms4 .ms4-contbox .txtbox .tit {
  font-size: 3.75rem;
  font-weight: 700;
  color: white;
  letter-spacing: -0.04rem;
  margin-bottom: 1.125rem;
}

.ms4 .ms4-contbox .txtbox .desc {
  font-size: 1.25rem;
  line-height: 1.5;
  color: white;
  letter-spacing: -0.04rem;
  margin-bottom: 5rem;
}

.morebox {
  position: relative;
}

.morebtn.white {
  color: white;
  border: 1px solid white;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.04em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  border-radius: 100px;
  transition: all 0.3s;
}

.morebox>a:hover {
  background-color: white;
  color: #be201f;
}

/* 오른쪽 퀵 버튼 시작 */
.right-quick {
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  z-index: 10;
  bottom: 30px;
  height: 120px;
}

.right-quick .right-top {
  display: flex;
  justify-content: end;
}

.right-quick .right-qna {
  display: flex;
  justify-content: end;
}

/* 오른쪽 퀵 버튼 끝 */

/* footer 시작 */
#footer {
  margin-top: 0;
  background-color: #be201f;
  width: 100%;
  height: 580px;
  margin: 0 auto;
  padding: 0;
}

#footer .inner {
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 100px 80px 140px;
  box-sizing: border-box;
}

#footer .inner .f-logo {
  position: relative;
  margin-bottom: 3.75rem;
}

#footer .inner .f-contbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
}

#footer .inner .f-contbox .item {
  position: relative;
}

#footer .inner .f-contbox .item .f-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
  letter-spacing: -0.04rem;
  margin-bottom: 1.5rem;
  
}

#footer .inner .f-contbox .item.info .infobox {
  margin-bottom: 2.5rem;
}

#footer .inner .f-contbox .item.info .infobox .infotxt {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
  color: #000;
  letter-spacing: -0.04rem;
}

#footer .inner .f-contbox .item.info .infobox .bar {
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: white;
  margin: 0 10px;
}

#footer .inner .f-contbox .item.info .copyright {
  font-size: 1.25rem;
  font-weight: 300;
  color: white;
  letter-spacing: -0.04rem;
}

#footer .inner .f-contbox .item.guide {
  min-width: 20rem;
}

#footer .inner .f-contbox .item .f-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
  letter-spacing: -0.04rem;
  margin-bottom: 1.5rem;
}

#footer .inner .f-contbox .item.guid .guidelist {
  display: flex;
  flex-direction: column;
}

#footer .inner .f-contbox .item.guide .guidelist li a {
  font-size: 1.25rem;
  line-height: 1.5;
  color: white;
  display: block;
  padding: 0.625rem 0;
}

#footer .inner .f-contbox .item.guide .guidelist li a::after {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 13%;
  /* a 태그의 바로 아래 */
  height: 1px;
  width: 100%;
  background-color: white;
}

@media (max-width: 768px) {
  #footer .inner .f-contbox .item.guide .guidelist li a::after {
    display: none;
    content: none;
    /* 혹시 남아있을 경우 대비 */
  }
}

#footer .inner .f-contbox .item .f-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
  letter-spacing: -0.04rem;
  margin-bottom: 1.5rem;
}

#footer .inner .f-contbox .item.contact .contactbox {
  position: relative;
}

#footer .inner .f-contbox .item.contact .contactbox .tit {
  font-size: 1.875rem;
  line-height: 1;
  color: white;
  letter-spacing: -0.04rem;
  margin-bottom: 0.625rem;
}

#footer .inner .f-contbox .item.contact .contactbox .desc {
  font-size: 1.25rem;
  color: white;
  letter-spacing: -0.04rem;
}

#footer .inner .f-contbox .item.contact .contactbox .info {
  font-size: 1.25rem;
  color: white;
  line-height: 1.5;
  letter-spacing: -0.04rem;
  margin-top: 2rem;
}

#footer .mb {
  display: none;
}

.pop-up-box {
  position: fixed;
  top: auto;
  bottom: 30px;
  left: 40px;
  right: auto;
width: 390px;
height: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 24px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, .10);
  overflow: hidden;
  z-index: 1000;
  background-color: #fff;
  gap: 10px;
}

.pop-up-box.active {
  display: none;
}
.pop-up-box .pop-up-wrap {
  display: flex !important;
  flex-direction: column;
  height: 100%;
}


.pop-up-box .pop-up-wrap .swiper-wrapper {
  display: flex;
  height: 100%;
}

.pop-up-box .pop-up_s {
  display: flex;
  align-items: center;
  flex-shrink: 0 !important;
  width: 100% !important;
  height: 100%;
  gap: 80px;
  left: auto;
  padding-left: 20px;
}

.pop-up-box  .p_img-box {
  width: 56px;
  position: relative;
  margin-bottom: 20px;
}
.pop-up-box  .p_img-box::after {
  position: absolute;
  content: "";
  width: 108px;
  height: 108px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 208, 206);
  z-index: -1;
  border-radius: 100px;
}
.pop-up-box .p_text-box .p_img-box img {
  display: block;
  width: 100%;
}

.pop-up-box .p_text-box h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  line-height: 1.305;
  margin-bottom: 2px;
}

.pop-up-box .p_text-box p {
  font-size: 14px;
  font-weight: 300;
  color: #08122c;
  text-align: left;
  line-height: 1.305;
}

.pop-up-box .p_text-wrap span {
  display: inline-flex;
  justify-content: center;
  background-color: #cd1509;
  color: #fff;
  padding: 11px 15px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 300;
  margin-top: 20px;
  cursor: pointer;

}

.pop-up-box .popup_counter {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 12px;
  padding: 4px 6px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 20px;
  color: #fff;
}

.pop-up-box .popup_counter .counter {
  font-weight: 700;
}

.pop-up-box .p_btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  overflow: hidden;
  font-size: 13px;
  color: #0000008a;
  font-weight: 400;
  cursor: pointer;
}


/* 스크롤바 커스텀 시작 */

/* html {
  scollbar-color: gray darkgray;
  scollbar-width: thin;
} */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  height: 5%;
  background: #be201f;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #e7e7e7;
}
.swiper-horizontal {
  touch-action: auto;
}
/* 스크롤바 커스텀 끝 */




@media (max-width: 768px) {

  /* 공통 */
  html {
    font-size: 14.4px;
  }

  body::-webkit-scrollbar {
    width: 3px;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }


  /* 헤더 */
  .hide-header {
    transform: translateY(-230%);
    opacity: 1;
  }

  /* 상단베너 */
  .top-banner {
    font-size: 13px;
    height: 40px;
  }

  .main-box {
    height: 60px;
    justify-content: space-between;
    padding: 0 15px;
  }

  .main-nav,
  .main-mypage {
    display: none;
  }

  .side-menu {
    display: flex;
  }

  .side-menu img {
    display: block;
    width: 20px;
  }

  .side-menu>.side-btn {
    width: 20px;
  }

  .side-menu>.side-icon {
    display: flex;
    gap: .7rem;
  }

  /* 사이드메뉴 아이템 */
  .top-banner.m_active {
    opacity: 0;
  }

  .side-box {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #be201f;
    z-index: 2000;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform .6s ease-in-out;
  }

  .side-box.active {
    transform: translateY(0);
  }


  .side-box .side-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 210px 0;
    gap: 15rem;
  }

  .side-box .side-item_box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .side-box .side-item_box ul li a {
    font-size: 40px;
    color: #fff;
  }

  .side-box .side-wrap .close-btn {
    width: 20px;
  }

  .side-box .side-wrap .close-btn img {
    display: block;
    width: 100%;
  }

  /*  로고  */
  .main-logo>.logo-box>a>img {
    width: 80px;
    height: auto;
  }

  /* 섹션 1 */
  .sec-1 {
    padding-bottom: 0;
  }

  .sec-1 .img-box img {
    padding-top: 40px;
    width: 100%;
    height: 95%;
    object-fit: cover;
  }

  .sec-1 .txt-box {
    top: calc(6rem + 2rem);
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    color: #be201f;
  }

  .sec-1 .txt-box .tit {
    font-size: 28px;
  }

  .sec-1 .txt-box .desc {
    font-size: 18px;
    font-weight: 300;
  }

  /* 스와이퍼 */
  .sec-2__swiper {
    display: block;
    padding: 0;
  }

  .sec-2__swiper .swiper-slide img {
    width: 100%;
  }



  /* 마르퀴 */
  .sec-3__marquee-wrapper {
    padding-top: 50px;
  }

  .sec-3__marquee-wrapper>.marquee>.mq-group .item {
    font-size: 100px;
    gap: 1rem;
  }

  /*섹션 3 */
  .ms3 {
    position: relative;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
    padding: 3rem 1.5rem 5.5rem 1.5rem;
  }

  .ms3 .ms3-contbox {
    gap: 5rem;
  }

  .ms3 .ms3-contbox .contbox {
    flex-direction: column;
    gap: 3rem;
  }

  .ms3 .ms3-contbox .contbox .imgbox .img:nth-child(2) {
    display: none;
  }

  .ms3 .ms3-contbox .contbox .txtbox {
    width: 95%;
    padding: 0;
  }

  .ms3 .ms3-contbox .contbox .txtbox .tit {
    font-size: 30px;
    margin-bottom: 0.5rem;

  }

  .ms3 .ms3-contbox .contbox .txtbox .desc {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.05rem;
    min-width: 100%;
    margin-bottom: 3rem;
  }

  .ms3 .ms3-contbox .contbox .txtbox .desc>.pc-br {
    display: none;
  }

  .ms3 .ms3-contbox .contbox .txtbox .morebtn {
    margin: 0 auto;
  }

  .ms3 .ms3-contbox .contbox .txtbox .morebtn {
    font-size: 14px;
    padding: 7.5px 15px;
  }

  .ms3 .ms3-contbox .contbox .imgbox {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .ms3 .ms3-contbox .contbox-right {
    display: flex;
    flex-direction: column;
  }

  .ms3 .ms3-contbox .contbox-right .imgbox {
    order: 1;
  }

  .ms3 .ms3-contbox .contbox-right .txtbox-2 {
    order: 2;
  }

  /* 돌아가는 이미지지*/
  .ms4 .inner {
    position: relative;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  .ms4 .ms4-top {
    margin-bottom: 8rem;
  }

  /* .ms4 .ms4-top {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  } */

  .ms4 .ms4-top .pc_view {
    display: none;
  }

  /* .ms4 .ms4-top .txtbox {
    font-size: 2.5rem;
    justify-content: center;
  } */

  .ms4 .ms4-top .txtbox {
    flex: 1;
    font-weight: 500;
    letter-spacing: -0.04em;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .ms4 .ms4-top .txtbox .txt {
    display: inline-block;
  }


  .ms4 .ms4-top .mob_view {
    font-size: 45px;
    display: flex !important;
    flex-direction: column;
    gap: .5rem;
  }

  .ms4 .ms4-top .mob_view .row {
    display: flex;
    align-items: center;
  }

  .ms4 .ms4-top .mob_view .badge {
    padding: 5px 32.5px 6px;
    margin-right: 1rem;
    display: inline-flex;
  }

  .ms4 .ms4-top .mob_view .row>img {
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
    animation: rotated 10s linear infinite;
  }

  @keyframes rotated {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  /* 섹션 4 */

  .ms4-contbox {
    display: block;
    position: relative;
    width: 100%;
    height: 271px;
  }

  .ms4 .ms4-contbox .imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .ms4 .ms4-contbox .imgbox .img>img {
    width: 100%;
    height: 271px;
    display: block;
    object-fit: cover;
  }

  .ms4 .ms4-contbox .txtbox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 50px 0 4.8rem;
    z-index: 100;
  }

  .ms4 .ms4-contbox .txtbox .tit {
    font-size: 30px;
    margin-bottom: .7rem;
  }

  .ms4 .ms4-contbox .txtbox .desc {
    font-size: 14px;
    margin-bottom: 2.1rem;
  }

  .morebtn.white {
    font-size: 14px;
    padding: 0.52rem 1.1rem;
  }

  /* 푸터 */
  #footer .inner {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 3.5rem 1.74rem 4.2rem;
  }

  #footer .inner .f-logo {
    position: relative;
    margin-bottom: 2.1rem;
  }

  #footer .inner .f-logo img {
    width: 92.5px;
    margin-right: auto;
  }

  #footer .inner .f-logo .logo-box {
    max-width: 9.25rem;
  }

  #footer .inner .f-logo .logo-box a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footer .inner .f-contbox {
    flex-direction: column;
    width: 100%;
    /* gap: 2rem; */
  }

  #footer .inner .f-contbox .item {
    position: relative;
  }

  .pc_view {
    display: none;
  }

  #footer .inner .f-contbox .item.info .infobox {
    margin-bottom: 0;
  }

  .mob_view {
    display: block;
  }

  #footer .inner .f-contbox .item.info .infobox .infotxt {
    font-weight: 400;
    font-size: 12px;
  }

  #footer .inner .f-contbox .item.guide {
    width: 100%;
    min-width: unset;
    margin-top: 1.4rem;
    padding-top: 1.4rem;
    border-top: 1px solid rgba(255, 255, 255, .2)
  }

  #footer .inner .f-contbox .item.guide .guidelist {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  #footer .inner .f-contbox .item.guide .guidelist li a {
    font-size: 12px;
    font-weight: 300;
    padding: 0;
  }

  #footer .copyright.mb {
    display: block;
    font-size: 12px;
    color: #fff;
    letter-spacing: -0.04em;
    font-weight: 400;
    margin-top: 1.4rem;
  }

  #footer {
    height: auto;
  }

  /* 오른쪽 퀵버튼 */
  .right-quick {
    width: 36px;
    gap: 5px;
    z-index: 10;
    bottom: 15px;
    height: 90px;
    right: 20px;
  }
}